body { margin: 0; padding: 0; }
#map-container { width: 100vw; height: 100vh; position: relative; overflow: hidden; }
#map-container svg { 
    width: 100%; 
    height: 100%; 
    cursor: move; /* Change cursor to indicate draggable */
}
path { cursor: pointer; transition: fill 0.3s; }
path:hover { fill: #ffcc99; }
path.selected { fill: #99ccff; }
#country-info { position: absolute; bottom: 20px; left: 20px; font-size: 18px; }
#selected-countries { position: absolute; top: 20px; right: 20px; background: rgba(255,255,255,0.8); padding: 10px; border-radius: 5px; }
h1 { position: absolute; top: 20px; left: 20px; margin: 0; }
#map-container svg text { 
    fill: white; 
    font-size: 40px;
}
#zoom-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 5px;
    display: flex;
}
#zoom-controls button {
    font-size: 18px;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#zoom-controls button:hover {
    background-color: #f0f0f0;
}
#lasso-button {
    font-size: 18px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;
}
#lasso-button:hover {
    background-color: #f0f0f0;
}